*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 60px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
span{
    text-align: justify;
  color: #6e6d6d;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px  10px 15px 0 rgba(0, 0, 0, 0.75);
}
img{
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
    width: 4vw;
    border-radius: 50%;
    margin: 20px;
}
